body {
    font-family: "Inter", sans-serif;
    background-color: #292B2C;
    padding-top: 20px;
}

.logo {
    height: 33px;
    width: 190px;

}

.navbar {
    padding: 10px 0;
    background-color: #292B2C;

}

.navbar-nav .nav-link {
    color: white !important;
    margin-right: 15px;
    font-size: 1.1rem;
}

.navbar-nav .nav-link:hover {
    color: #007bff !important;
}

.navbar-toggler {
    border-color: white;
}

.bg-img {
    background-image: url(img/ImgTI.png);
    height: 50vh;
    border-radius: 35px;
    background-size: cover;
    background-position: center;
    
}

.circle {
    width: 35px;
    height: 35px;
}

.bg-black {
    background-color: black;
}

.card-custom {
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.card-custom:hover {
    transform: translateY(-10px);
}

.card-white {
    background-color: #ffffff;
    color: #000000;
}

.card-black {
    background-color: #000000;
    color: #ffffff;
}

.button-custom {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button-custom:hover {
    background-color: #0056b3;
    color: #ffffff;
    text-decoration: none;
}

.img-about {
    max-width: 400px;
    max-width: 350px;
}

.br-left {
    border-radius: 35px 0 0 35px;
}

.br-right {
    border-radius: 0 35px 35px 0;
}

@media (max-width:720px) {
    .br-left {
        border-radius: 35px 35px 0 0;
    }

    .br-right {
        border-radius: 0 0 35px 35px;
    }
    .mgy-5{
        margin:3rem 0 3rem 0 ;
    }
}

.card-icon-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 60px;
    margin: 0 auto -100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-icon {
    font-size: 2.5rem;
}

.card-content {
    padding-top: 50px;
}

.team-section {
    text-align: center;
}

.team-member {
    display: flex;
    justify-content: center;
}

.team-member-card {
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 300px;
    color: #fff;
}

.member-photo {
    width: 100px;
    height: 100px;
    background-color: #c4c4c4;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}

h5 {
    margin-top: 15px;
}

.gap-4 {
    gap: 1rem;
}

.nav-link-footer {
    color: rgb(0, 0, 0) !important;
    margin-right: 15px;
    font-size: 1.1rem;
    
}

.nav-link-footer:hover {
    color: #007bff !important;
    text-decoration: none;
}